[submodule "test/vendor/matcher_combinators.lua"]
	path = test/vendor/matcher_combinators.lua
	url = https://github.com/m00qek/matcher_combinators.lua
  ignore = dirty
[submodule "test/vendor/plenary.nvim"]
	path = test/vendor/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
  ignore = dirty
